<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medico.medico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppointmentAlert" />
        <activity android:name=".appointmentEdit" />
        <activity android:name=".MedicineEdit" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MedicineLIst" />
        <activity android:name=".MedicineAdd" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".AppointmentAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".appointmentAdd" />
        <activity android:name=".appointmentList" />
        <activity android:name=".Alert" />
        <activity android:name=".MyStats" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Emergency"></activity>
    </application>

</manifest>